Package: com.fivestart.ytbtoolcommand
Name: YTBToolCommand
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Mr.Truong
Author: Mr.Truong
Section: System
Tag: role::hacker
Version: 0.0.1-1+debug
Installed-Size: 132
